html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 给home的左侧导航栏设置样式 */
.el-submenu__title,
.el-menu-item {
  font-size: 13px;
}
i.iconfont {
  margin-right: 10px;
}
/* 卡片区域样式 */
.el-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.box-card {
  margin-top: 15px;
}
/* 卡片内的表格样式 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
